.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Dancing Script', handwriting;
  font-size: 6.4rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 8rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.12rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.48rem;
    font-size: calc( 2.89rem + (6.4 - 2.89) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.89rem + (6.4 - 2.89) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #9fe870 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #ffeb69 !important;
}
.bg-danger {
  background-color: #e88d51 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c71a1a !important;
  border-color: #c71a1a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #e43030 !important;
  border-color: #e43030 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e43030 !important;
  border-color: #e43030 !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffeb69 !important;
  border-color: #ffeb69 !important;
  color: #695b00 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #fff29c !important;
  border-color: #fff29c !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #695b00 !important;
  background-color: #fff29c !important;
  border-color: #fff29c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e88d51 !important;
  border-color: #e88d51 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #eeab7e !important;
  border-color: #eeab7e !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eeab7e !important;
  border-color: #eeab7e !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6ddc25 !important;
  background-color: transparent !important;
  border-color: #6ddc25 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #264d0c !important;
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c71a1a;
  color: #c71a1a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #7a1010 !important;
  background-color: transparent !important;
  border-color: #7a1010 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c71a1a !important;
  border-color: #c71a1a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffeb69;
  color: #ffeb69;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffdf12 !important;
  background-color: transparent !important;
  border-color: #ffdf12 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #695b00 !important;
  background-color: #ffeb69 !important;
  border-color: #ffeb69 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #e88d51;
  color: #e88d51;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #c85f1a !important;
  background-color: transparent !important;
  border-color: #c85f1a !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e88d51 !important;
  border-color: #e88d51 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #9fe870 !important;
}
.text-secondary {
  color: #c71a1a !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #ffeb69 !important;
}
.text-danger {
  color: #e88d51 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #66d022 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #6d0e0e !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffdd03 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ba5919 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #9fe870;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #ffeb69;
}
.alert-danger {
  background-color: #e88d51;
}
.mbr-gallery-filter li.active .btn {
  background-color: #9fe870;
  border-color: #9fe870;
  color: #306310;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #9fe870;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #9fe870 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.625rem;
}
blockquote {
  border-color: #9fe870;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #9fe870;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #9fe870;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #9fe870;
  border-bottom-color: #9fe870;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #9fe870 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #c71a1a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%239fe870' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tQHjKOiLLe {
  z-index: 1000;
  width: 100%;
}
.cid-tQHjKOiLLe .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tQHjKOiLLe .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tQHjKOiLLe .navbar-nav {
  margin: auto;
  margin-left: 0;
}
@media (min-width: 992px) {
  .cid-tQHjKOiLLe .navbar-nav {
    max-width: 45%;
  }
}
.cid-tQHjKOiLLe .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-tQHjKOiLLe .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
  border-radius: 4px !important;
}
.cid-tQHjKOiLLe .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-tQHjKOiLLe .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tQHjKOiLLe .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tQHjKOiLLe .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
  border-radius: 4px !important;
}
.cid-tQHjKOiLLe .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tQHjKOiLLe .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-tQHjKOiLLe .navbar-logo {
  padding-left: 1rem;
  margin: 0 !important;
}
@media (min-width: 992px) {
  .cid-tQHjKOiLLe .navbar-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .cid-tQHjKOiLLe .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tQHjKOiLLe .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tQHjKOiLLe .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-tQHjKOiLLe .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tQHjKOiLLe .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tQHjKOiLLe .nav-link {
  width: fit-content;
  position: relative;
}
.cid-tQHjKOiLLe .navbar-caption {
  padding-left: 2rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-tQHjKOiLLe .navbar-caption {
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tQHjKOiLLe .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tQHjKOiLLe .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tQHjKOiLLe .container {
  display: flex;
  height: 90px;
  position: relative;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(22, 51, 0, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #163300;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  border-radius: 4px !important;
}
@media (max-width: 992px) {
  .cid-tQHjKOiLLe .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tQHjKOiLLe .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tQHjKOiLLe .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tQHjKOiLLe .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #163300;
  background: rgba(22, 51, 0, 0.8) !important;
  border-radius: 4px !important;
}
.cid-tQHjKOiLLe .nav-item:focus,
.cid-tQHjKOiLLe .nav-link:focus {
  outline: none;
}
.cid-tQHjKOiLLe .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tQHjKOiLLe .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tQHjKOiLLe .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tQHjKOiLLe .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tQHjKOiLLe .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tQHjKOiLLe .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tQHjKOiLLe .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tQHjKOiLLe .navbar.opened {
  transition: all 0.3s;
}
.cid-tQHjKOiLLe .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tQHjKOiLLe .navbar .navbar-logo img {
  width: auto;
}
.cid-tQHjKOiLLe .navbar .navbar-collapse {
  justify-content: flex-end;
}
.cid-tQHjKOiLLe .navbar.collapsed {
  justify-content: center;
}
.cid-tQHjKOiLLe .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tQHjKOiLLe .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tQHjKOiLLe .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 2.7rem);
  }
}
.cid-tQHjKOiLLe .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tQHjKOiLLe .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tQHjKOiLLe .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tQHjKOiLLe .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tQHjKOiLLe .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tQHjKOiLLe .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tQHjKOiLLe .navbar {
    min-height: 72px;
  }
  .cid-tQHjKOiLLe .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tQHjKOiLLe .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tQHjKOiLLe .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tQHjKOiLLe .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tQHjKOiLLe .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tQHjKOiLLe .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tQHjKOiLLe .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tQHjKOiLLe .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tQHjKOiLLe .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tQHjKOiLLe .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tQHjKOiLLe .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tQHjKOiLLe .dropdown-item.active,
.cid-tQHjKOiLLe .dropdown-item:active {
  background-color: transparent;
}
.cid-tQHjKOiLLe .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tQHjKOiLLe .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tQHjKOiLLe .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tQHjKOiLLe .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #163300;
}
.cid-tQHjKOiLLe .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-tQHjKOiLLe .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tQHjKOiLLe ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tQHjKOiLLe .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tQHjKOiLLe .navbar-buttons {
    text-align: left;
  }
}
.cid-tQHjKOiLLe button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tQHjKOiLLe button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tQHjKOiLLe button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tQHjKOiLLe button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tQHjKOiLLe button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tQHjKOiLLe button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tQHjKOiLLe nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tQHjKOiLLe nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tQHjKOiLLe nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tQHjKOiLLe nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tQHjKOiLLe .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tQHjKOiLLe a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tQHjKOiLLe .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tQHjKOiLLe .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tQHjKOiLLe .navbar {
    height: 70px;
  }
  .cid-tQHjKOiLLe .navbar.opened {
    height: auto;
  }
  .cid-tQHjKOiLLe .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tQHjKOiLLe .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tQHjKOiLLe .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tQHjKOiLLe .navbar-brand {
    margin-right: auto;
  }
  .cid-tQHjKOiLLe .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #163300;
    opacity: 1;
    border-color: rgba(22, 51, 0, 0.8) !important;
    background: rgba(22, 51, 0, 0.8) !important;
    backdrop-filter: blur(8px);
    border-radius: 4px !important;
  }
  .cid-tQHjKOiLLe .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tQHjKOiLLe .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tQHjKOiLLe .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tQHjKOiLLe .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tQHjKOiLLe .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tKGxOcEUWW {
  background-image: url("../../../assets/images/banner-pyxuu65q9-transformed-1600x539.webp");
}
.cid-tKGxOcEUWW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tKGxOcEUWW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQHxZbt6jz {
  background-color: #ffffff;
}
.cid-tQHxZbt6jz .trans-wave {
  opacity: 1;
  fill: #ffffff;
  pointer-events: none;
}
.cid-tQHxZbt6jz .dentaura-container {
  height: 40px;
  position: relative;
  width: 100%;
}
.cid-tQHxZbt6jz .dentaura-y-up {
  position: absolute;
  bottom: 39px;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.cid-tQHxZbt6jz .dentaura-cover {
  background: transparent;
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
.cid-tQHxZbt6jz .dentaura-y-down {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
.cid-tQHxZbt6jz .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5);
  animation-iteration-count: infinite;
}
.cid-tQHxZbt6jz .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.cid-tQHxZbt6jz .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.cid-tQHxZbt6jz .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.cid-tQHxZbt6jz .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .cid-tQHxZbt6jz .dentaura-y-down {
    height: 40px;
    min-height: 40px;
  }
}
.cid-tKGr72IDf1 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tKGr72IDf1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tKGr72IDf1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tKGr72IDf1 .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-tKGr72IDf1 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tKGr72IDf1 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tKGr72IDf1 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tKGr72IDf1 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tKGr72IDf1 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tKGr72IDf1 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tKGr72IDf1 .card-title {
  color: #2e481a;
}
.cid-tKGr72IDf1 .shake-vertical {
  animation: shake-vertical 14s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate-reverse both;
}
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}
.cid-tQZo9Uqo4o {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/c6204dfdc2fc3a5e421fbd955dad5809-1920x650.webp");
}
.cid-tQZo9Uqo4o .mbr-overlay {
  background-color: #232323;
  opacity: 0.5;
}
.cid-tQZo9Uqo4o .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-tQZo9Uqo4o {
    align-items: center;
  }
  .cid-tQZo9Uqo4o .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tQZo9Uqo4o .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tQZo9Uqo4o {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-tQZo9Uqo4o .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tQZo9Uqo4o .content-wrap {
    width: 100%;
  }
}
.cid-tQZo9Uqo4o .mbr-section-title {
  text-align: center;
}
.cid-tQZo9Uqo4o .mbr-text,
.cid-tQZo9Uqo4o .mbr-section-btn {
  text-align: center;
}
.cid-tKGpr4c2U3 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-tKGpr4c2U3 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-tKGpr4c2U3 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tKGpr4c2U3 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tKGpr4c2U3 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-tKGpr4c2U3 .row > .row {
  display: block;
}
.cid-tKGpr4c2U3 .mbr-gallery-item {
  width: 100%;
}
.cid-tKGpr4c2U3 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-tKGpr4c2U3 .mbr-gallery-item > div {
  position: relative;
}
.cid-tKGpr4c2U3 .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-tKGpr4c2U3 .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-tKGpr4c2U3 .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-tKGpr4c2U3 .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-tQHzvjx6BT {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #163300;
}
.cid-tQHzvjx6BT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQHzvjx6BT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQHzvjx6BT .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tQHzvjx6BT .card-wrapper {
  margin-bottom: 2rem;
  border-radius: 20px;
  transition: transform 0.3s linear;
  display: flex;
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-tQHzvjx6BT .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tQHzvjx6BT .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tQHzvjx6BT .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #9fe870;
}
.cid-tQHzvjx6BT P {
  color: #232323;
}
.cid-tQHzvjx6BT .card-wrapper:hover {
  transform: scale(0.93);
}
.cid-tQHzmXNkdz {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #163300;
}
.cid-tQHzmXNkdz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQHzmXNkdz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQHzmXNkdz .bg-youtube {
  background: #ff0000;
  color: #ffffff;
}
.cid-tQHzmXNkdz .bg-youtube:hover {
  background: #cc0000;
}
.cid-tQHzmXNkdz .iconfont-wrapper {
  display: inline-block;
  font-size: 32px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  transition: .2s linear;
}
.cid-tQHzmXNkdz [class^="socicon-"]:before,
.cid-tQHzmXNkdz [class*=" socicon-"]:before {
  line-height: 55px;
  padding: .6rem;
}
.cid-tQHzmXNkdz .mbr-section-title,
.cid-tQHzmXNkdz .social-list {
  color: #ffffff;
  text-align: center;
}
.cid-tQHzmXNkdz .iconfont-wrapper:hover {
  transform: scale(1.2);
}
.cid-tQHzsXiCnX {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #ffffff;
}
.cid-tQHzsXiCnX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQHzsXiCnX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQHzsXiCnX .google-map {
  height: 30rem;
  position: relative;
}
.cid-tQHzsXiCnX .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tQHzsXiCnX .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tQHzsXiCnX .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tQHzsXiCnX .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tKGoSp13X2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #163300;
}
.cid-tKGoSp13X2 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tKGoSp13X2 .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tKGoSp13X2 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tKGoSp13X2 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tKGoSp13X2 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tKGoSp13X2 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tKGoSp13X2 .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tKGoSp13X2 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tKGoSp13X2 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tKGoSp13X2 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tKGoSp13X2 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tKGoSp13X2 .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tKGoSp13X2 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tKGoSp13X2 .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tKGoSp13X2 .letrachica {
  color: #bca65e;
}
.cid-tKGoSp13X2 .small {
  font-size: 0.8rem;
}
